@use "../variables" as vars;

$rectangleWidth: 120px;

@keyframes skeletonBlink {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: $rectangleWidth;
  }
}

.root {
  display: grid;
  grid-auto-flow: column;
  column-gap: 24px;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
}

.profileAvatar {
  width: vars.$avatarSize;
  height: vars.$avatarSize;
}

.dropdown {
  display: none;

  .profile:hover & {
    position: absolute;
    z-index: 1;
    top: calc(100% - 1px);
    right: 0;
    display: block;
  }
}

.loginButtonLabel {
  composes: buttonLabel from "../helpers.scss";
}

.skeleton {
  align-self: center;
  background-image: repeating-linear-gradient(
    90deg,
    #dcdcdc 0,
    white $rectangleWidth / 2,
    #dcdcdc $rectangleWidth,
  );
  background-position-x: 0;
  background-size: $rectangleWidth;
  animation: skeletonBlink 1s infinite ease;
}

.skeletonRect {
  composes: skeleton;
  width: $rectangleWidth;
  height: 24px;
  border-radius: 4px;
}

.skeletonCircle {
  composes: skeleton;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
