@use "~scss/utils";

.root {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  width: 184px;
  height: 100%;
}

.amount {
  margin-bottom: 8px;
}

.description {
  position: absolute;
  bottom: 8px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  font-size: 14px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 4px;
  padding: 6px 8px;
  color: utils.$color-white;
  background-color: utils.$color-black;
}
