@use "~scss/utils";
@use "~components/AppModal/variables" as modal;

$black: utils.$color-black;
$gray: utils.$color-gray;
$loginBg: utils.$color-login-background;

.root {
  overflow: hidden;
  border-radius: 16px;

  @media (min-width: utils.$breakpoint-md-min) {
    display: flex;
  }
}

.advantages {
  @media (max-width: utils.$breakpoint-sm-max) {
    display: none;
  }
}

.form {
  composes: column from "helpers.scss";

  padding-left: 1.75rem;
  padding-right: 1.75rem;
  background-color: $loginBg;
}

.header {
  margin-bottom: 3rem;
  text-align: center;
}

.caption {
  composes: caption from "helpers.scss";
}

.captionTip {
  @include utils.text-size-standard();

  margin-top: 0.5rem;
  margin-bottom: 0;
  color: $gray;
}

.inputGroup {
  display: grid;
  grid-row-gap: 1rem;
  margin-bottom: 2rem;
}

.input {
  // width: 100%;
}

.redirectionTip {
  @include utils.text-size-standard();

  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  color: $gray;
}

.redirectionButton {
  display: inline;
  line-height: inherit;
  color: $black;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 3.375rem;
}

.timerLegend {
  @include utils.text-size-standard();

  margin-right: 0.875rem;
  color: $gray;
}

.timerValue {
  font-size: 1.5rem;
  font-weight: 600;
  color: $black;
}
